* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ol {
    align-items: center;
    justify-content: center;
    display: flex;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid c;
    background-color: sandybrown;
height: 59px;

}
nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
nav{

    border: 2px solid orange;
    background: orange;
    height: 60px;
    list-style: none;
}
nav ul  {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    color: white;
    margin-top: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.ik{
    margin-left: 100px;
}
.ik input{
    height: 40px;
    width: 400px;
    border: n;
    border-radius: 2px;
}
.ko input{
    margin-left: 100px;
    width: 400px;
    height: 50px;
    border: 2px solid black;
}
.ko button{
    background: orange;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 99px;
    color: white;
    border: orange;

}
.klk{
    background: rgb(255, 255, 255);
    width: 700px;
    margin-top: 100px;
    margin-left: 100px;
    border: none;
}
.wit h1{
    margin-left: 600px;
    margin-top: -350px;
}
.wit p {
    position: absolute;
    margin-left: 890px;
    margin-top: 20px;
}
.wit svg{
    margin-top: 100px;
    margin-left: 890px;
}
.wit h4{
    margin-left: 950px;
    margin-top: -30px;
}
.kil svg{
    margin-left: 890px;
    margin-top: 20px;
}
.kil h4{
    margin-left: 950px;
    margin-top: -30px;
}
.kol svg{
    margin-left: 890px;
    margin-top: 20px;

}
.kol h4{
    margin-left: 950px;
    margin-top: -30px;
}
footer{
    background-color: rgb(0, 0, 0);
}

.jop h3{
    color: aliceblue;
    font-size: 36px;
    margin-left: 20px;
    margin-top: 20px;
}

.jop p{
    margin-top: 20px;
    color: aliceblue;
    margin-left: 20px;

}

.jeck {
    text-align: center;
    margin-top: -100px;
    color: aliceblue;
    line-height: 30px;
}

.jeck h3{
    font-size: 32px;
}

.jeck_2{
position: absolute;
margin-top: -150px;
    margin-left: 1100px;
    
}

.jeck_2 h2{
    font-size: 40px;
    color: aliceblue;
    margin-top: -20px;
}

.jeck_2 p{
    margin-top: 2px;
    color: aliceblue;
}

.jeck_2 input{
    width: 200px;
    height: 30px;
    border: none;
    margin-top: 10px;
}

.jeck_2 button{
    width: 100px;
    height: 30px;
    border: none;
    margin-left: -5px;
    border: none;
    background-color: orange;
}
