* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ol {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid c;
    background-color: sandybrown;
height: 59px;
font-family: sans-serif;


}
nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.alo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: rgb(118, 114, 114);
    
}
.card1{
  border: 2px solid black;
  width: 400px;
  height: 300px;
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;

}
