* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ol {
    align-items: center;
    justify-content: center;
    display: flex;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid c;
    background-color: sandybrown;
height: 59px;

}
nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.card1{
    border: 2px solid black;
    width: 400px;
    height: 300px;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
   
  
}
.card1{
    border: 2px solid black;
  height: 500px;
  border: none;
  background-color: rgb(171, 164, 164);
}
.img3{
    width: 200px;
    height: 200px;
    background: orange;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 90px;
    background-color: rgb(255, 170, 0);
    border: none;

}
.card1 button {
    background-color: rgb(255, 145, 0);
    width: 200px;
    height: 40px;
    border-radius: 50px;
}
.ayiq{
    display: flex;
    gap: 160px;
}
